.newsEntry {
  margin: 0;
  padding: 0;
  position: relative;
  text-align: left;
  border: 1px groove gray;
  border-radius: 10px;
  overflow: hidden;
}
.newsEntry:hover {
  grid-row: span 2;
}

.newsImage {
  width: 100%;
  max-height: 100%;
}

.newsTitle {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 1em;
  background-color: white;
  color: black;
  margin: 0;
  padding-left: 5px;
  width: auto;
  z-index: 100;
}

.newsInfo {
  text-align: center;
  background-color: white;
  color: black;
  padding: 0 10px;
}
.newsInfo > h2 {
  font-size: 1.2em;
}

.newsMetaData {
  display: flex;
  justify-content: space-between;
  margin: 0 50px;
}

.newsDatePublication {
  font-size: 1em;
  font-style: italic;
}

.newsDescription {
  font-size: 0.8em;
}

.newsAuthor {
  font-size: 14px;
  font-style: italic;
}
