.articleContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1vh;
  padding: 1vh 4vh;
}

@media (max-width: 1024px) {
  .articleContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .articleContainer {
    grid-template-columns: 1fr;
  }
}
