.app {
  background-color: #282e30;
  color:#fdcc0a;
  min-height: 100vh;
}

.appHeader {
  min-height: 10vh;
  display: flex;
  justify-content: space-between;
  font-size: calc(12px + 2vmax);
  color: inherit;
  padding-left: 5vh;
  padding-right: 5vh;
  padding-top: 2vh;
}

.headerTitle {
  text-align: center;
  align-items: center;
  align-content: center;
}

.headerSearch {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-right: 5vh;
}

.headerDesc {
  font-size: calc(5px + 1vmax);
  color: inherit;
  font-style: italic;
}

.appMain {
  text-align: center;
  margin: 0px;
  padding: 0px;
  color: #ffffe4;
  min-height: 100%;
}
