.app {
  background-color: white;
  color: black;
  min-height: 100vh;
  width: 100%;
}

.appHeader {
  display: inline-block;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: white;
  z-index: 10000;
  padding: 0.5em 1em;
  height: 6vh;
  /* border-image: linear-gradient(to right, gray, lightblue) 1; */
  border-bottom: 1px solid lightgray;
}

.headerTitle {
  text-align: center;
  position: relative;
  display: inline-block;
  left: 0;
  top: 0;
  font-size: 1.5em;
  line-height: 90%;
  width: fit-content;
  padding: 0;
  margin: 0;
  font-weight: bold;
}

.headerDesc {
  font-size: 0.5em;
  font-style: italic;
  font-weight: normal;
}

.appMain {
  display: block;
  margin-top: 8vh;
  padding: 1vh 0 0 0;
  /* min-height: 100%; */
  text-align: center;
}
